.frog {
    position: absolute;
    width: 300px;
    z-index: 15;
    pointer-events: none;
}

/*  Desktop  */
.frog-chapter-1 { top: 80vh; left: 10vw; }
.frog-chapter-2 { top: 25vh; left: 15vw; }
.frog-chapter-3 { top: 28vh; left: 20vw; }

/*  Mobile */
@media (max-width: 767px) {
  .frog-chapter-1 { top: 35vh; left: 5vw; }
  .frog-chapter-2 { top: 40vh; left: 8vw; }
  .frog-chapter-3 { top: 45vh; left: 10vw; }
}
