.frog {
  position: absolute;
  width: 250px;
  z-index: 15;
  pointer-events: none;

  top: 73.5vh; left: 48vw; opacity: 100;
}

/*  Desktop  */
.frog-chapter-6 { top: 73.5vh; left: 48vw; opacity: 0;}

/*  Tablette */
@media (max-width: 1024px) {
  .frog { top: 81.5vh; left: 50vw; }
  .frog-chapter-6 { top: 81.5vh; left: 50vw; opacity: 0;}
}

/*  Mobile */
@media (max-width: 767px) {
  .frog { top: 73vh; left: 30vw; }
  .frog-chapter-6 { top: 73vh; left: 30vw; opacity: 0;}
}
