.frog {
  position: absolute;
  width: 250px;
  z-index: 15;
  pointer-events: none;

  top: 80vh; 
  left: 70vw; 
  opacity: 100;
}

/*  Desktop  */
.frog-chapter-6 {  opacity: 0;}

/*  Tablette */
@media (max-width: 1024px) {
  .frog {  left: 70vw; }
  .frog-chapter-6 {  opacity: 0;}
}

/*  Mobile */
@media (max-width: 767px) {
  .frog { width: 170px;  top: 60vh; left: 30vw;}
  .frog-chapter-4 {top: 77vh; left: 48vw;}
  .frog-chapter-5 {opacity: 0;}
}
