.frog {
  position: absolute;
  width: 250px;
  z-index: 15;
  pointer-events: none;

  top: 73.5vh; left: 78vw; opacity: 100;
}

/*  Desktop  */
.frog-chapter-6 {  opacity: 0;}

/*  Tablette */
@media (max-width: 1024px) {
  .frog { top: 81.5vh; left: 70vw; }
  .frog-chapter-6 {  opacity: 0;}
}

/*  Mobile */
@media (max-width: 767px) {
  .frog { width: 200px; top: 66.5vh; left: 26vw; }
  .frog-chapter-4 {top: 77vh; left: 48vw;}
  .frog-chapter-5 {opacity: 0;}
}
