.frog {
  position: absolute;
  width: 250px;
  z-index: 15;
  pointer-events: none;

  top: 72vh; 
  left: 70vw; 
  opacity: 100;
}
.frog-chapter-14 {opacity: 0;}
.frog-chapter-15 {opacity: 0;}
.frog-chapter-16 {opacity: 0;}

/*  Desktop  */
.frog-chapter-6 {  opacity: 0;}

/*  Tablette */
@media (max-width: 1024px) {
  .frog { top: 72vh; left: 65vw; }
  .frog-chapter-6 {  opacity: 0;}
  .frog-chapter-14 {opacity: 0;}
  .frog-chapter-15 {opacity: 0;}
  .frog-chapter-16 {opacity: 0;}
}

/*  Mobile */
@media (max-width: 767px) {
  .frog { width: 170px; top: 66vh;  left: 30vw;}
  .frog-chapter-4 { opacity: 0;}
  .frog-chapter-5 {opacity: 0;}
  .frog-chapter-6 {opacity: 0;}
  .frog-chapter-7 {opacity: 0;}
  .frog-chapter-14 {opacity: 0;}
  .frog-chapter-15 {opacity: 0;}
  .frog-chapter-16 {opacity: 0;}
}
